h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif !important;
}
p, .raleway {
    font-family: 'Raleway', sans-serif;
}

.light-text-bg {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.5rem;
}